node_modules
.cache
yarn-error.log
site/public
packages/*/lib
.DS_Store
.envs
.envs.*
site/.env.*
tsconfig.tsbuildinfo
.git-credentials
.serverless
build/
.tsconfig.json
.tsconfig.tsbuildinfo
envs
.secrets*
packages/cf-*/index.ts
packages/cf-*/src/vars.ts
packages/*/lib
packages/@inf/*/lib
